html{
    scroll-behavior: smooth;
}

body{
  background-color: #ddd;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

h1{
  font-size: 50px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
}

h2{
  font-size: 32px;
  line-height: 1.5;
}

nav ul{
  list-style-type: none;
}

nav li{
  display: inline;
  padding-right: 20px;
}

nav a{
  color: black;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover{
  text-decoration: underline;
  }
  .skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute; /*Your code here - position relative to the parent */;
  top: -40px;     /*Your code here - place 40px higher */;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}
.skip a:focus{
  top: 0px;

}


/*Your code here*/
/*Add the selector and code to put a 2px black border around all elements in focus.*/
*:focus{
  border: 2px solid black;
}


footer{
  background-color: black;
  color: white;
  grid-column: 1 / -1;  /*Can you explain what this does?*/
  grid-row: 7 / auto;   /*Can you rewrite it?*/
  grid-row: 7 span 1;
  padding-top: 30px;
  text-align: center;
}


.container{
  display: grid;

  grid-template-columns: 100px 500px 100px;
  grid-row-gap: 15px;

  /*Provided*/
  grid-template-rows: 30px auto auto auto auto auto 100px; 
  width: 100vw; 
}

.nav{
   /*Your code here */

  /*Provided*/
  background-color: #ddd;
  padding: 20px 0; 
  text-align: left; 
  align-self: center;
  justify-content: left;
  grid-column: 1 / 4;
  grid-row: 1;
}

header{
  background-attachment: fixed; /* Parallax effect */
  background-image: url(../images/header.jpg);      /* Your code here - Link to header.jpg in the images folder */
  background-position: center;  /* Parallax effect */
  background-repeat: no-repeat; /* Parallax effect */
  background-size: cover;       /* Parallax effect */
  color: white;
  height: 400px;                /* Parallax effect */

  /*Your code here - cover the entire row*/
  grid-row: 2;
  grid-column: 1/8;
}

header p{
  color: white;
  font-size: 24px;
  padding: 0 100px;
  text-align: center;
}

.about-image{
grid-row: 3/ span 1;
grid-column: 1/-1;
max-height: 700px;
overflow: hidden;
}

.about{
  grid-row: 3/ span 1;
  grid-column: 2/ span 1;
  justify-content: center;
  align-self: center;
}

.method-image{
  grid-row:4/span 1;
  grid-column: 1/ -1;
  max-height: 700px;
  overflow: hidden;
}

.method{
  grid-row: 4/ span 1;
  grid-column: 2/ span 1;
  justify-content: center;
  align-self: center;
}

.clients-image{
 grid-row: 5/ span 1;
 grid-column: 1/-1;
 max-height: 700px;
 overflow: hidden;
}

.clients{
  grid-row: 5/span 1;
  grid-column: 2 / span 1;
  justify-content: center;
  align-self: center;
}

.contact-image{
  grid-row: 6/ span 1;
  grid-column: 1/-1;
  max-height: 700px;
  overflow: hidden;
}

.contact{
  grid-row: 6/ span 1;
  grid-column: 2/ span 1;
  justify-content: center;
  align-self: center;
}

.text-block{

   /*Your code here */
  
  background-color: rgba(255, 255, 255, .8);
  border: 10px solid black;
  padding: 30px;
}



@media screen and (min-width:800px)/*Your code here - Add the first media query.*/{

  .container{
    /*Your code here */
    display: grid;
    grid-template-rows: 70px 400px 400px 400px 400px 400px 100px;
    grid-template-columns: 50px auto 500px auto 50px;
  }

  .nav{
    background-color: #ddd;
    justify-content: right;
    align-self: center;
    text-align: right;
    padding-bottom: 35px;
    padding-top: 35px;
    grid-row: 1/ span 1;
    grid-column: 1/-1;
  }

  .about-image{
  grid-row:3/ span 1;
  grid-column: 2/ span 2;
  max-height: 700px;
  overflow: hidden;
  }

  .about{
    grid-row:3/ span 1;
    grid-column: 3/ span 2;

  }

  .method-image{
  grid-row:4/ span 1;
  grid-column: 3/ span 2;
  max-height: 700px;
  overflow: hidden; 
  }

  .method{
   grid-row: 4/ span 1;
   grid-column: 2/ span 2;
  }

  .clients-image{
  grid-row:5/ span 1;
  grid-column: 2/ span 2;
  max-height: 700px;
  overflow: hidden; 

  }

  .clients{
  grid-row: 5/ span 1;
  grid-column: 3/ span 2;
  }

  .contact-image{
  grid-row:6/ span 1;
  grid-column: 3/ span 2;
  max-height: 700px;
  overflow: hidden; 
  }

  .contact{
  grid-row: 6/ span 1;
  grid-column: 2/ span 2;
   }

}  /*End the media query*/

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  .skip a{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: none; /* Your code here - set to default setting */
    transition: none; /* Your code here - set to default setting */
    z-index: 1;
  }

  .skip a:focus{
    top:0;
  }
}
